<html>
  <head>
  </head>
  <body>
    <main id="container" class="container">
      <section class="left">
      </section>
      <section class="right">
        <ul class="nav flex-column">
          <li class="nav-item">
            <button id="invite" class="btn btn-primary" type="submit">
              <svg width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg" class="SVG_s125la8e" >
              <path d="M16 21V19C16 17.9391 15.5786 16.9217 14.8284 16.1716C14.0783 15.4214 13.0609 15 12 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              </path>
              <path d="M8.5 11C10.7091 11 12.5 9.20914 12.5 7C12.5 4.79086 10.7091 3 8.5 3C6.29086 3 4.5 4.79086 4.5 7C4.5 9.20914 6.29086 11 8.5 11Z" fill="transparent" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M20 8V14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-linejoin="round">
              </path>
              <path d="M23 11H17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <span>Invite a Friend</span>
            </button>
          </li>
          
          <div class="nav-item groups-div">
            <div class="dropdown">
              <div class="arrow-right"></div>
              <div class="groups"  d="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              Groups
              </div>
              <div  id="top-plusButton" class="plusButton">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="SVG_s125la8e" style="--s125la8e-0:1rem; --s125la8e-1: inherit; --s125la8e-2:0;"><path d="M12 5V19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>New</span>
              </div>
            </div>
          </div>
          <div class="" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Metaverse</a>
            <a class="dropdown-item" href="#">Algorithmic Trading</a>
            <a class="dropdown-item" href="#">Alpaca</a>
          </div>

          <div class="nav-item groups-div">
            <div class="dropdown">
              <div class="arrow-right"></div>
              <div class="groups"  d="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
              DMs
              </div>
              <div  id="bottom-plusButton" class="plusButton">
                <svg width="1em" height="1em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="SVG_s125la8e" style="--s125la8e-0:1rem; --s125la8e-1: inherit; --s125la8e-2:0;"><path d="M12 5V19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M5 12H19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>New</span>
              </div>
            </div>
          </div>
          <div class="people" aria-labelledby="dropdownMenuButton">
            <div class="person-holder"><img src="/assets/1.david.png" /><div class="dropdown-item" href="#">David McDonough</div></div>
            <div class="person-holder"><img src="/assets/2.scott.png"/><div class="dropdown-item" href="#">Scott Barrow</div></div>
            <div class="person-holder"><img src="/assets/3.brenden.jpg"/><div class="dropdown-item" href="#">Brenden Mulligan</div></div>
            <div class="person-holder"><img src="/assets/4.tyler.jpg"/><div class="dropdown-item" href="#">Tyler Lastovich</div></div>
            <div class="person-holder"><img src="/assets/5.michael.jpg"/><div class="dropdown-item" href="#">Michael McGuiness</div></div>
            <div class="person-holder"><img src="/assets/6.investmenttalk.jpg"/><div class="dropdown-item" href="#">Investment Talk</div></div>
            <div class="person-holder"><img src="/assets/7.eric.png"/><div class="dropdown-item" href="#">Eric rosner</div></div>
            <div class="person-holder"><img src="/assets/8.kent.jpg"/><div class="dropdown-item" href="#">Kent Goldman</div></div>
            <div class="person-holder"><img src="/assets/9.michael.png"/><div class="dropdown-item" href="#">Michael Zimmerman</div></div>
            <div class="person-holder"><img src="/assets/10.dhaval.png"/><div class="dropdown-item" href="#">Dhaval Kotecha</div></div>
            <div class="person-holder"><img src="/assets/11.laura.jpg"/><div class="dropdown-item" href="#">Laura Bock</div></div>
            <div class="person-holder"><img src="/assets/12.jonathan.png"/><div class="dropdown-item" href="#">Jonathan Gregory</div></div>
            <div class="person-holder"><img src="/assets/13.robbie.png"/><div class="dropdown-item" href="#">Robbie Young</div></div>
            <div class="person-holder"><img src="/assets/14.brittany.jpg"/><div class="dropdown-item" href="#">Brittany Joiner</div></div>
            <div class="person-holder"><img src="/assets/15.paul.jpg"/><div class="dropdown-item" href="#">Paul Essen</div></div>
            <div class="person-holder"><img src="/assets/16.harry.jpg"/><div class="dropdown-item" href="#">Harry Tormey</div></div>
            <div class="person-holder"><img src="/assets/17.kermit.jpg"/><div class="dropdown-item" href="#">Kermit Capital</div></div>
            <div class="person-holder"><img src="/assets/18.terminal.jpg"/><div class="dropdown-item" href="#">Terminal Value</div></div>
          </div>
        </ul>
      </section>
    </main>
  </body>
</html>