// @import "bootstrap-sprockets";
// @import "bootstrap";

/* universal */

#container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 2000px;
}

.container {
 padding: 0;
 height: 950px;
 font-family: 'Metro Sans', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  // margin-bottom: 10px;
}

/* container */
.container {
  display: flex;
}

/*chatbox */

#chatbox {
  width: 490px;
  background-color: #fff;
}


/* left */

.left {
  // border: 1px solid red;
  flex: 15;

  background-color: #F0F2F4;
}


/* right */

.right {
  // border: 1px solid blue;
  box-shadow: -2px 0px 20px 0px rgba(221, 221, 221, 0.9);;
  width: 200px;
  height: 100%;
}

svg {
  margin: 0px 4px 0px 0;
}

#invite {
  background-color: rgb(11,211,211);
  border: none;
  width: 165px;
  height: 35px;
  font-family: 'Metro Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2rem;
  margin: 15px 18px 0px 18px;
}

.groups-div {
  display: flex;
  padding: 16px;
  // align-items: flex-start;
}

.dropdown {
  display: flex;
  align-items: center;
}

.arrow-right {
  display: flex;
  width: 8px;
  height: 8px;
  margin: 0 8px 0 0;
  background-color: #8398AE;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  cursor: pointer;
}

.arrow-down {
  display: flex;
  width: 8px;
  height: 8px;
  margin: 0 8px 0 0;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  background-color: #8398AE;
  cursor: pointer;
}

.groups {
  text-decoration: none;
  color: #8398AE;
  font-size: 16px;
  font-weight: 600;
  margin: 0 30px 0 0;
  cursor: pointer;
}

.plusButton {
  display: flex;
  border: 1px solid #8398Ae;
  border-radius: 2rem;
  margin: 0 0 0 0px;
  color: #8398AE;
  font-size: 12px;
  width: 60px;
  height: 18px;
  text-align: center;
  vertical-align: center;
}

#top-plusButton {
  // position: relative;
  // right: 10px;
}

#bottom-plusButton {
  margin-left: 25px;
}

.plusButton svg {
  margin: 3px 3px 3px 5px;
}

.plusButton span {
  margin: 1px 0 1px 0;
  // background-color: red;
}

#people {
  display: none;
}

#groupList {
  display: none;
}

.person-holder .dropdown-item {
  padding-left: 10px;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}

#groupList {
  display: none;
}

.group-list-item {
  font-size: 14px;
  font-weight: 200;
  padding-left: 20px;
  display: block;
  text-decoration: none;
  color: #2D3645;
  margin: 10px 0 10px 0;
  cursor: pointer;
}


.group-list-item:hover {
  background-color: #F0F2F4;
}

.people .person-holder {
  height: 34px;
  display: flex;
  font-size: 13px;
  font-weight: 100px;
  color: #2d3645;
  margin: 5px 0 5px 0;
}

img {
  height: 25px;
  border-radius: 100px;
  margin: 0 0 0 15px;
}

.turnItPink {
  color: pink;
}

.discover {
  color: rgb(11,211,211);
  font-weight: 700;
  // padding: 4px 24px;
  margin: 0 0 0 40px;
}

.locked-group {
  width: 12px;
  height: 12px;
  border: 1px solid grey;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px 2px 7px;
  margin-right: 10px;
  text-align: center;
}

.group-letter {
  margin: 3px 5px 3px 5px;
}

/* chatbox */

#chatbox {
  display: none;
}

.chat-top-header {
  margin: 10px;
  display: flex;
}

.chat-name {
  flex: 20;
  font-size: 12px;
  font-weight: 600;
  color: #899DB2;
  margin: 10px 0px 10px 20px;
}

.expand-glyph {
  color: #899DB2;
}

.close-chat-glyph {
  color: #899DB2;
}

.chat-mid-header {
  display: flex;
  border-bottom: 1px solid rgba(137, 157, 178, 0.2);
}

.challenge-tab {
  flex: 1;
  text-align: center;
  border-bottom: 2px solid #899DB2;
  color: #899DB2;
  font-weight: 700;
}

.chat-tab {
  flex: 1;
  text-align: center;
  color: #899DB2;
}

.message-area {
  max-height: 755px;
  background-color: #FCFCFC;
}

.challenge-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 15px 0px;
}

#challenge-area {
  display: flex;
  background-color: #2D3645;
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 385px;
  border-radius: 10px;
  margin: 40px 0 0 0;
  padding: 30px 30px 30px 30px;
  margin: 20px auto;
  letter-spacing: .5px;
}

.challenge-icons {
  width: 70px;
}

#challenge-mail-icon {
  width: 50px;
  height: 50px;
  fill: rgb(11,211,211);
  margin-top: 35px;
}

#challenge-ruby-icon {
  width: 50px;
  height: 50px;
  fill: rgb(11, 211, 211)
}

#challenge-person {
  width: 50px;
  height: 50px;
  fill: rgb(11, 211, 211)
}

#challenge-text {
  width: 250px;
}

#challenge-question {
  display: none;
  background-color: #2D3645;
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 385px;
  border-radius: 10px;
  margin: 40px 0 0 0;
  padding: 30px 30px 30px 30px;
  margin: 20px auto;
  letter-spacing: .5px;
}

.challenge-question {
  margin: auto;
}

.commence-challenge {
  width: 250px;
  height: 40px;
  background-color: rgb(11, 211, 211);
  color: rgb(45,54,69);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.challenge-question-submit {
  width: 100px;
  height: 40px;
  background-color: rgb(11, 211, 211);
  color: rgb(45,54,69);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 20px 0 0 85px;
  cursor: pointer;
}

.commence-challenge-text {
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
}

 #read-this {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2D3645;
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 385px;
  border-radius: 10px;
  padding: 10px 30px 0px 30px;
  margin: 20px auto;
  letter-spacing: .5px;
}

#read-this-icon {
  width: 50px;
  height: 50px;
  fill: rgb(11, 211, 211);
  margin: 27px 0px 0px 0px;
}

#read-this-text {
  margin-bottom: 0px;
}

#read-this a {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  margin: 0px 0px 0px 95px;
  color: white;
}

.continue {
  width: 125px;
  height: 40px;
  background-color: rgb(11, 211, 211);
  color: rgb(45,54,69);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 20px 0px 30px 90px;
  cursor: pointer;
}

.bullet {
  height: 25px;
  width: 25px;
  background-color: eee;
  display: list-item;
  margin: 10px 20px 10px 0px;
  padding: 0;
}

.question-1 {
  padding: 0 0 0 20px;
}

.challenge-option {
  display: flex;
  align-items: center;
  text-align: center;
}

#you-passed {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  background-color: #2D3645;
  font-size: 14px;
  font-weight: 300;
  color: white;
  width: 385px;
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  margin: 20px auto;
  letter-spacing: .5px;
}

.message-tyler-button {
  width: 175px;
  height: 40px;
  background-color: rgb(11, 211, 211);
  color: rgb(45,54,69);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin: 0px 0px 30px 50px;
  cursor: pointer;
}

.message-tyler {
  // width: 275px;
  text-align: center;
  margin: 10px 0 0 30px;
  padding: 8px 0 0 0;
  display: flex;
}

#you-passed-text {
  margin: 20px 0 20px 30px;
}

#you-passed-icon {
  width: 35px;
  height: 35px;
  fill: rgb(11, 211, 211);
  margin: 0px 0px 0px 0px;
}

.chat-mid-footer {
  color: rgba(137, 157, 178, 0.7);
  font-weight: 200;
  padding: 10px;
  display: flex;
}

.locked {
  margin: 5px 10px 0 0;
}

.continue-text {
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
}

#chatbox .hr {
  margin-top: 0;
  margin-bottom: 0;
}

.chat-mid-footer textarea {
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  height: 30px;
  flex: 20;
}

::placeholder {
  color: rgba(137, 157, 178, 0.5);
  font-weight: 300;
}

.airplane-glyph {
  display: none;
  margin: 6px 15px 0 0;
  fill: rgb(11, 211, 211);
  color: rgb(11, 211, 211);
}

.chat-bottom-footer {
  color: rgba(137, 157, 178, 1);
}

.chat-bottom-footer svg {
  margin: 15px;
}
